[Unit]
 Description=Solar logger
 After=multi-user.target

 [Service]
 Type=idle
 WorkingDirectory=/home/**me**/Documents/raspberry_pi_logger
 ExecStart=/usr/bin/python3 -u main.py
 StandardOutput=append:/home/**me**/Documents/logs/solar.log
 User=**me**
 Nice=-10

 [Install]
 WantedBy=multi-user.target