[Unit]
 Description=Solar logger
 After=multi-user.target

 [Service]
 Type=idle
 WorkingDirectory=/home/pi/Documents/solar-logger
 ExecStart=/usr/bin/python3 -u main.py
 StandardOutput=append:/var/log/solar/solar.log
 User=pi
 Nice=-10

 [Install]
 WantedBy=multi-user.target
